@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif, Arial, Helvetica;
}
.intro{
  background: linear-gradient(130deg, #1791b6,#17b694, #37a150, #98c912);
  background-size: 400% 400%;
  height: 100vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  animation: bgAnime 15s ease-in-out infinite;
  position: relative;
}
.content-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.content-wrapper h2{
  font-family: 'Caveat';
  font-size: 4rem;
  text-shadow: 1px 1px 4px #0000006c;
  color: #252525;
}
.redes-sociais{
  margin-top: 1rem;
  display: flex;
  align-items: center;
}
.redes-sociais a{
  font-family: 'Caveat';
  font-size: 32px;
  padding: 1rem 4rem;
  border: 1px solid white;
  text-decoration: none;
  color: #fff;
  transition: .4s ease-in-out;
}
.redes-sociais a:nth-child(1){
  border-radius: 3px 0 0 3px;
}
.redes-sociais a:nth-child(2){
  border-radius: 0 3px 3px 0;
}
.redes-sociais a:hover{
  background-color: white;
  color: #353535;
  text-shadow: 1px 1px 4px rgba(0, 0, 0, 0.384);
}
#checkbox{
  display: none;
}
.menu-checkbox{
  width: 60px;
  height: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  transition: .4s ease-in-out;
  position: relative;
  z-index: 9999;
  position: absolute;
  top: 20px;
  right: 20px;
  cursor: pointer;
}
.trace{
  width: 50px;
  height: 3px;
  background-color: white;
  box-shadow: 1px 1px 4px #0000005e;
  border-radius: 5px;
  transition: .3s ease-in;
  position: absolute;
  top: 0;
}
.menu-checkbox .trace:nth-child(1){
  top: 10px;
}
.menu-checkbox .trace:nth-child(2){
  top: 28px;
}
.menu-checkbox .trace:nth-child(3){
  top: 46px;
}
.menu{
  width: 1px;
  height: 1px;
  background-color: transparent;
  z-index: -1;
  border-radius: 50%;
  transition: .5s ease-in-out;
  position: absolute;
  top: 45px;
  right: 45px;
}
.nav-menu{
  position: fixed;
  z-index: -1;
  opacity: 0;
  visibility: hidden;
}

.lista-menu{
  list-style: none;
}
.lista-menu a{
  color: #000000;
  text-decoration: none;
  font-family: 'Caveat';
  font-size: 3rem;
  position: relative;
}
.lista-menu a:after{
  content: '';
  display: flex;
  opacity: 0;
  width: 0;
  height: 1.5px;
  border-radius: 5px;
  background-color: #1b1b1b;
  position: absolute;
  bottom: 5px;
  transition: .4s ease-in-out;
}

.lista-menu a:hover:after{
  opacity: 1;
  width: 100%;
}

/* checkbox checked */

#checkbox:checked ~ .menu{
  box-shadow: 0 0 0 100vmax #ffffff;
  z-index: 1;
  background-color: #ffffff;
  position: fixed;
}
#checkbox:checked + .menu-checkbox{
  position: fixed;
}
#checkbox:checked + .menu-checkbox .trace{
  box-shadow: 1px 1px 3px #1d1d1d3d;
}
#checkbox:checked + .menu-checkbox .trace:nth-child(1){
  transform: rotate(45deg);
  top: 28px;
  background-color: #272727;
}
#checkbox:checked + .menu-checkbox .trace:nth-child(2){
  visibility: hidden;
  opacity: 0;
  transform: translateX(50px);
  width: 0;
  background-color: #272727;
}
#checkbox:checked + .menu-checkbox .trace:nth-child(3){
  transform: rotate(-45deg);
  top: 29px;
  background-color: #272727;
}
#checkbox:checked ~ .nav-menu{
  z-index: 2;
  visibility: visible;
  animation: anime-nav-menu .6s .3s forwards ;
}

/* Conteudo principal */

.container-content-main{
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
  margin: 3rem 0;
  gap: 50px;
}
.content-wrapper-main{
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  flex-direction: row;
  width: 90%;
}
.content-text{
  max-width: 40%;
}
.content-text h3{
  font-size: 1.6rem;
  margin-bottom: 15px;
  font-family: 'Caveat';
  text-transform: uppercase;
  text-align: center;
}
.content-text p{
  font-size: 1rem;
  font-family: 'Poppins';
  color: #252525;
  text-align: center;
}

.card{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 400px;
  height: 300px;
  position: relative;
}
.desfoque{
  background-image: url('../media/work.jpg');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 400px;
  height: 300px;
  filter: blur(.5px);
  position: absolute;
  z-index: -1;
  transition: .5s ease-in-out;
}
.border-square{
  width: 50px;
  height: 40px;
  position: absolute;
  opacity: 0;
  visibility: hidden;
  border: 3px solid rgb(255, 255, 255);
  transition: .5s ease-in-out;
  z-index: -2;
}
.card h3{
  font-size: 3rem;
  font-family: 'Caveat';
  color: white;
  text-shadow: 0 0 4px #1f1f1f9c;
  margin-bottom: 10px;
}
.card p{
  font-size: .85rem;
  color: #ffffff;
  font-family: 'Open Sans';
  text-shadow: 0 0 4px #1f1f1f9c;
  opacity: 0;
  visibility: hidden;
  position: absolute;
  bottom: 100px;
  transition: .5s;
  font-weight: bold;
}
.content-wrapper-main:nth-child(2){
  flex-direction: row-reverse;
}

.card:hover .border-square{
  width: 350px;
  height: 250px;
  opacity: 1;
  visibility: visible;
  z-index: -1;
}
.card:hover .desfoque{
  filter: blur(3px);
}
.card:hover p{
  opacity: 1;
  visibility: visible;
  bottom: 110px;
}
@media (max-width: 400px){
  .content-wrapper h2{
    text-align: center;
  }
}
@media (max-width: 700px){
   .content-wrapper h2{
      font-size: 3rem;
    }
    .redes-sociais{
      flex-direction: column;
    }
    .redes-sociais a{
      width: 100%;
      font-size: 1.5rem;
    }
    .redes-sociais a:nth-child(1){
      border-radius: 3px 5px 0 0;
    }
    .redes-sociais a:nth-child(2){
      border-radius: 0 0 3px 3px;
    }
}
@media (max-width: 830px){
    .content-wrapper-main{
      flex-direction: column-reverse;
    }
    .content-wrapper-main:nth-child(2){
      flex-direction: column-reverse;
    }
    .content-text{
      max-width: 90%;
      margin-top: 20px;
    }
    .card{
      width: 300px;
      height: 200px;
    }
    .desfoque{
      width: 300px;
      height: 200px;
    }
    .card h3{
      font-size: 3rem;
      font-family: 'Caveat';
      color: white;
      text-shadow: 0 0 4px #1f1f1f9c;
      margin-bottom: 10px;
    }
    .card p{
      bottom: 45px;
    }
    .border-square{
      border-width: 2px;
    }
    .card:hover .border-square{
      width: 270px;
      height: 160px;
    }
    .card:hover p{
      bottom: 60px;
    }
}

@keyframes anime-nav-menu {
  from{
    opacity: 0;
  }
  to{
    opacity: 1;
  }
}
@keyframes bgAnime {
  0%{
    background-position: 0% 60%;
  }
  50%{
    background-position: 60% 80%;
  }
  100%{
    background-position: 0% 60%;
  }
}
